<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="show_sql">false</property>
      <property name="hbm2ddl.keywords">none</property>
      <property name="adonet.batch_size">250</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.default_expiration">86400</property>
      <!--24 hour-->
      <!--<property name="cache.use_minimal_puts">false</property>-->
      <property name="transaction.factory_class">NHibernate.Transaction.AdoNetTransactionFactory</property>
      <property name="connection.connection_string">Data Source=.;Initial Catalog=Test;Integrated Security=SSPI</property>
      <property name="generate_statistics">true</property>
      
      <property name="cache.provider_class">
        Helper.MyRedisCacheProvider
        ,Helper
      </property>
    </session-factory>
  </hibernate-configuration>
  <CustomConfiguration>
    <property name="MappingAssembly">Mapping</property>
  </CustomConfiguration>
</configuration>